DATABASE_URL=
CORS_ORIGIN=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
LUMAAI_API_KEY=
WALRUS_PUBLISHER=https://publisher.walrus-testnet.walrus.space
WALRUS_AGGREGATOR=https://aggregator.walrus-testnet.walrus.space
KLING_ACCESS_KEY=
KLING_SECRET_KEY=
FAL_KEY=
PRIVATE_KEY=
GEMINI_API_KEY=
