# Mainnet RPC URL used for fetching blockchain data. Alchemy is recommended.
PONDER_RPC_URL_1= #mainnet
PONDER_RPC_URL_2= #sepolia
BASE_SEPOLIA_RPC_URL= #base_sepolia

# (Optional) Postgres database URL. If not provided, SQLite will be used. 
DATABASE_URL=
DATABASE_SCHEMA=public
